@import "../../vars.scss";

.herocard {
  display: block;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;

  img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 25px;
  }

  &_link {
    color: $textColor;
    text-decoration: none;
    transition: all $transitionDuration;

    &::after {
      content: " ";
      display: block;
      height: 4px;
      width: 0;
      background-color: $orangeColor;
      transition: all $transitionDuration;
    }

    &:hover {
      letter-spacing: 5px;
      &::after {
        width: 100%;
      }
    }
  }
}

@media (min-width: $breakpoint-pc) {
  .herocard {
    padding: 15px;
    gap: 40px;
    height: 250px;

    &_link {
      font-size: 80px;
    }
  }
}

@media (max-width: $breakpoint-pc) and (min-width: $breakpoint-phone) {
.herocard {
    padding: 15px;
    gap: 30px;
    height: 250px;

    &_link {
      font-size: 50px;
    }
  }
}

@media (max-width: $breakpoint-phone) {
.herocard {
    padding: 15px;
    gap: 10px;
    height: 200px;

    &_link {
      font-size: 25px;
    }
  }
}
