@import "../../vars.scss";

.footer {
  display: flex;
  background-color: $orangeColor;
  box-sizing: border-box;
  border-radius: 30px 30px 0 0;

  &_git {
    svg {
      transform: scale(2);
    }

    &-block {
      display: flex;
      align-items: center;
      gap: 4px;

      &-text {
        font-size: 20px;
      }

      &-link {
        color: black;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  &_contacts {
    display: flex;
    gap: 4px;
    align-items: center;

    &-text {
      font-size: 20px;
    }

    &-link {
      font-size: 20px;
      color: black;
      font-weight: 600;
    }
  }
}

@media (min-width: $breakpoint-pc) {
  .footer {
    min-height: 25vh;
    padding: 40px;
    justify-content: space-between;

    &_center {
      &-text {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: $breakpoint-pc) and (min-width: $breakpoint-phone) {
  .footer {
    padding: 40px;
    flex-direction: column;
    align-items: center;

    p,
    a {
      font-size: 16px;
    }

    &_center {
      &-text {
        font-size: 25px;
      }
    }

    &_git {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .footer {
    padding: 40px;
    flex-direction: column;
    align-items: center;

    p,
    a {
      font-size: 16px;
    }

    &_center {
      &-text {
        font-size: 25px;
        text-align: center;
      }
    }

    &_git {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
